.body {
  margin: 0 140px 40px;
  display: flex;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.585);
  background-color: rgb(254, 254, 248);
  overflow: hidden;
  color: #003049;
}
hr {
  color: #003049;
}
.usersite-box,
.usersite-icon {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user-info {
  display: flex;
  justify-content: space-between;
}
.usersite-box {
  padding: 50px 100px;
}
.edit-user {
  width: 100%;
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  text-align: center;
  font-size: 42px;
}
.heading i{
  font-size: 82px;
  color: #f77f00;
}
.heading i:nth-of-type(2){
  visibility: hidden;
}
p {
  font-size: 22px;
}
p span {
  font-weight: bold;
}
.btns{
  display: flex;
  justify-content: center;
}
button {
  margin: 10px auto;

  width: 40%;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #f77f00;
  color: #fff;
  border: none;
  font-size: 20px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #e67701;
}
.usersite-icon {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.icon-tabler {
  color: #ff8400;
}
