.body {
  width: 100%;
}
.form-box {
  padding: 50px 70px;
}
form {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 5px;
  width: 100%;
}
h3 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 42px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-group:nth-of-type(1) {
  grid-column: 1/4;
}
.form-group:nth-of-type(2) {
  grid-column: 1/2;
}
.form-group:nth-of-type(3) {
  grid-column: 2/3;
}
.form-group:nth-of-type(4) {
  grid-column: 3/4;
}
.form-select-box,
.radio-box {
  grid-column: 1/4;
}
input,
select,
button {
  padding: 5px 10px;
  /* height: 40px; */
  border-radius: 3px;
  border: 1px solid #ff840070;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
  grid-column: 1/4;
  background-color: #f77f00;
  color: #fff;
  border: none;
  font-size: 20px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #e67701;
}

button:disabled {
  background-color: #ffd9b1;
}
button:disabled:hover {
  cursor: not-allowed;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
