.diet {
  display: flex;
  margin: 0 0 150px;
  background-color: rgb(254, 254, 248);
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.585);
  overflow: hidden;
}
.diet-box {
  width: 70%;
}
.diet-img-bg {
  width: 30%;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3 {
  margin: 80px 0 40px;
  text-transform: uppercase;
  text-align: center;
  color: #003049;
  font-size: 42px;
}
.emptyDietParagraph {
  text-align: center;
  font-size: 20px;
}
ul {
  padding: 0px 60px;
  width: 100%;
}
li {
  width: 100%;
  font-size: 20px;
  list-style-type: none;
  /* background-color: red; */
  border-bottom: 2px solid #333;
}
li:last-of-type {
  border: none;
}
.day-text{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap:5px;
    color: #003049;
}
.day-text span{
    font-weight: bold;
}
button {
    margin: 3px;
    padding: 0 15px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background-color: #f78000d0;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
  }
  button:hover {
    background-color: #ff8400;
    transform: scale(1.05);
  }
  /* h4{
    color: #003049;
  } */