<div class="diet">
    <div class="diet-box">
        <h3>Historia twoich posiłków</h3>
        <p *ngIf="historyDiet.length===0" class="emptyDietParagraph">
            Nie dodałeś dziś żadnych produktów. <br>
            Dodaj produkty,które zjadłeś.</p>
        <ul>
            <li *ngFor="let day of historyDiet.reverse()" appHighlight>
                <div class="day-text">
                    <h4>{{day.date.split('-').reverse().join('-')}}</h4>
                    <p title="Energia"><span>E:</span>{{day.kcal | noComma}}kcal</p>
                    <p title="Węglowodany"><span>W:</span>{{day.carbo | number:'1.0-0'}}g</p>
                    <p title="Białko"><span>B:</span>{{day.protein | number:'1.0-0'}}g</p>
                    <p title="Tłuszcz"><span>T:</span>{{day.fat | number:'1.0-0'}}g</p>
                    <button (click)="day.visibility=!day.visibility">{{day.visibility?'Schowaj':'Rozwiń'}}</button>
                </div>
                <div class="day-products" *ngIf="day.visibility">
                    <div *ngFor="let prod of day.dietList" >
                        <app-diet-history-product [user]="user" [product]="prod"></app-diet-history-product>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="diet-img-bg">
        <img src="../../assets/images/diet-img.jpg" alt="">
    </div>
</div>
