.products-box {
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.585);
  overflow: hidden;
}
.product-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;
  background-color: rgb(254, 254, 248);
}
.products-img {
  position: relative;
  width: 30%;
  overflow: hidden;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h3 {
  font-size: 42px;
  color: #003049;
  text-transform: uppercase;
}
.info-text {
  margin-bottom: 40px;
  color: #003049;
}
ul {
  padding: 0 30px;
  list-style-type: none;
  width: 100%;
}
li {
  font-size: 22px;
  border-bottom: 1px solid #003049;
}
button {
  margin: 3px;
  padding: 0 15px;
  border: none;
  border-radius: 3px;
  background-color: #f78000d0;
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}
button:hover {
  background-color: #ff8400;
  transform: scale(1.05);
}
.search-box {
  display: flex;

  justify-content: center;
  width: 100%;
}
.edit-product-box,
.addtodiet-product-box{
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.431);
}