<div class="body">
 <div class="header">
  <app-header (featureSelected)="onNavigate($event)"></app-header>
 </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet>

        </router-outlet>

      </div>
      <!-- <div class="col-md-12" *ngIf="loadedFeature==='products'">
        <app-products-list></app-products-list>
      </div>
      <div class="col-md-12" *ngIf="loadedFeature==='addNew'">
        <app-add-product></app-add-product>
      </div> -->

    </div>
  </div>
  <i class="fa-solid fa-carrot body-icon "></i>
  <i class="fa-solid fa-apple-whole body-icon  "></i>
  <i class="fa-solid fa-drumstick-bite body-icon  "></i>
  <div class="footer">
    <app-footer *ngIf="loadedFeature==='diet'"></app-footer>
  </div>
</div>