<div class="body">
  <div class="header">
    <app-header  [loggedIn]="loggedIn"></app-header>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet *ngIf="loggedIn" >

        </router-outlet>
        <app-signin (userLoggedIn)="onLoggedIn()" *ngIf="!loggedIn"></app-signin>

      </div>

    </div>
  </div>
  <i class="fa-solid fa-carrot body-icon "></i>
  <i class="fa-solid fa-apple-whole body-icon  "></i>
  <i class="fa-solid fa-drumstick-bite body-icon  "></i>

</div>