<div class="diet">
    <div class="diet-box">
        <h3>Twoje dzisiejsze posiłki</h3>
        <p *ngIf="todayDiet.length===0" class="emptyDietParagraph">
            Nie dodałeś dziś żadnych produktów. <br>
            Dodaj produkty,które zjadłeś.</p>
        <ul>
            <li *ngFor="let prod of todayDiet" appHighlight>
                <div>
                    <app-diet-product [user]="user" [product]="prod" (deleteEvent)="getProducts($event)"
                        (editEvent)="onEditDiet($event)"></app-diet-product>
                </div>
            </li>
        </ul>
    </div>
    <div class="diet-img-bg">
        <img src="../../assets/images/diet-img.jpg" alt="">
    </div>
</div>
<div class="footer">
    <app-footer [user]="user" [nutritionalValues]="nutritionalValues" [procentageMacros]=" procentageMacros">
    </app-footer>
</div>
<div class="addtodiet-product-box" *ngIf="editingDiet">
    <app-edit-diet-product [editingProduct]="productToEdit" [originalProduct]="originalEditingProduct"
        (closeEditing)="onCloseEditing()" (dietProductWasEditted)="onDietProductWasEdited($event)">
    </app-edit-diet-product>
</div>