.add-product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    background-color: rgb(254, 254, 248);
    border-radius: 8px;
    box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.585);
    overflow: hidden;
  }
  h3 {
    /* margin-bottom: 20px; */
    text-transform: uppercase;
    text-align: center;
    color: #003049;
    font-size: 42px;
  }
  h4{
    text-align: center;
    font-size: 36px;
  }
  .form-box {
    width: 100%;
    height: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
  
    justify-content: space-between;
    padding: 60px 40px;
    height: 100%;
  }
  .form-group{
    margin-bottom: 10px;
  }
 
  .help-block {
    margin-bottom: 0px;
  }
  .btns{
    display: flex;
    justify-content: space-between;
  }
  input,
  button {
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ff840070;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  label {
    font-size: 20px;
    color: #003049;
  }
  button {
    margin: 5px;
    background-color: #f77f00;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #e67701;
  }
  
  button:disabled {
    background-color: #ffd9b1;
  }
  button:disabled:hover {
    cursor: not-allowed;
  }
  