<div class="body">
    <div class="add-product-form">
        <div class="form-box">
            <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
                <h3>Edytuj produkt</h3>
                <div class="form-group">
                    <label for="name">Nazwa:</label>
                    <input type="text" id="name" formControlName="name">
                    <p class="help-block"
                        *ngIf="!addProductForm.get('name').valid && addProductForm.get('name').touched">
                        <span *ngIf="addProductForm.get('name').errors['required']">
                            To pole jest wymagane
                        </span>
                        <span *ngIf="addProductForm.get('name').errors['nameIsForbiden'] && !addProductForm.get('name').errors['required']">
                            Wprowadz popraną nazwę
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="kcal">Kcal:</label>
                    <input type="number" id="kcal" formControlName="kcal">
                    <p class="help-block"
                        *ngIf="!addProductForm.get('kcal').valid && addProductForm.get('kcal').touched">
                        <span
                            *ngIf="addProductForm.get('kcal').errors['min'] || addProductForm.get('kcal').errors['max']">
                            Wprowadz wrtość z przedziału &lt;0,1000&gt;
                        </span>
                        <span *ngIf="addProductForm.get('kcal').errors['required']">
                            To pole jest wymagane
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="carbon">Węglowodany:</label>
                    <input type="number" id="carbohydrates" formControlName="carbohydrates">
                    <p class="help-block"
                        *ngIf="!addProductForm.get('carbohydrates').valid && addProductForm.get('carbohydrates').touched">
                        <span
                            *ngIf="addProductForm.get('carbohydrates').errors['min'] || addProductForm.get('carbohydrates').errors['max']">
                            Wprowadz wrtość z przedziału &lt;0,100&gt;
                        </span>
                        <span *ngIf="addProductForm.get('carbohydrates').errors['required']">
                            To pole jest wymagane
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="protein">Białko:</label>
                    <input type="number" id="protein" formControlName="protein">
                    <p class="help-block"
                        *ngIf="!addProductForm.get('protein').valid && addProductForm.get('protein').touched">
                        <span
                            *ngIf="addProductForm.get('protein').errors['min'] || addProductForm.get('protein').errors['max']">
                            Wprowadz wrtość z przedziału &lt;0,100&gt;
                        </span>
                        <span *ngIf="addProductForm.get('protein').errors['required']">
                            To pole jest wymagane
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="fat">Tłuszcz:</label>
                    <input type="number" id="fat" formControlName="fat">
                    <p class="help-block" *ngIf="!addProductForm.get('fat').valid && addProductForm.get('fat').touched">
                        <span
                            *ngIf="addProductForm.get('fat').errors['min'] || addProductForm.get('fat').errors['max']">
                            Wprowadz wrtość z przedziału &lt;0,100&gt;
                        </span>
                        <span *ngIf="addProductForm.get('fat').errors['required']">
                            To pole jest wymagane
                        </span>
                    </p>
                </div>
                <button type="submit" [disabled]="addProductForm.invalid">Zapisz</button>
                <button type="button" (click)="onCloseEdit()">Anuluj</button>
            </form>
        </div>
    </div>
</div>