<div class="product">
    <p class="product-text">{{product.Date | date: 'HH:mm'}} <span>||</span> {{product.Name}}: <span>{{product.Kcal}}
            kcal</span></p>
    <div class="btns">
        <button title="Szczegóły" (click)="showDetails=!showDetails">?</button>
        <button title="Edytuj"><i class="fa-solid fa-pen"></i></button>
        <button routerLins="products-list-reload" title="Usuń" (click)="onDelete(product.IdDiet)">x</button>

    </div>
</div>
<div class="details " [ngClass]="{'active': showDetails}">
    <div class="details-box">
        <p>Waga: {{product.Amount}}g </p>
        <p>Węglowodany: {{product.Carbohydrates}}g </p>
        <p>Białko: {{product.Protein}}g </p>
        <p>Tłuszcz: {{product.Fat}}g </p>
        <p>Data: {{product.Date | date: 'dd-MM-yyyy' }} </p>
    </div>
</div>